{
  "globals": {
    "describe": true,
    "context": true,
    "it": true,
    "before": true,
    "after": true,
    "beforeEach": true,
    "afterEach": true
  },
  "extends": "airbnb",
  "rules": {
    "react/prop-types": [1],
    "react/jsx-one-expression-per-line": "off"
      }
}
