{
  "globals": {
    "describe": true,
    "context": true,
    "it": true,
    "before": true,
    "after": true,
    "beforeEach": true,
    "afterEach": true
  },
  "extends": "airbnb",
  "rules": {
    "react/prop-types": [0],
    "linebreak-style": 0
  }
}
