{
  "presets": ["@babel/preset-env", "@babel/preset-react"],
  "plugins": [["@babel/plugin-proposal-class-properties", { "loose": true }]],
  "env": {
    "test": {
      "plugins": ["istanbul"]
    },
    "cjs": {
      "presets": [["airbnb", { "removePropTypes": true }]]
    },
    "esm": {
      "presets": [["airbnb", { "modules": false, "removePropTypes": true }]]
    }
  }
}
