old
# Logs
logs
*.log
npm-debug.log*

# Runtime data
pids
*.pid
*.seed

# Coverage directory used by tools like istanbul
coverage
.nyc_output

# dump
.dupm
dump

# Grunt intermediate storage (http://gruntjs.com/creating-plugins#storing-task-files)
.grunt

# node-waf configuration
.lock-wscript

# Compiled binary addons (http://nodejs.org/api/addons.html)
build/Release

# Dependency directory
node_modules

# Optional npm cache directory
.npm

# Optional REPL history
.node_repl_history

# build folder
dist
lib
esm

# gh-pages
_gh-pages

.nyc_output

# Only apps should have lockfiles
yarn.lock
package-lock.json

.size-snapshot.json
