{
  "all": false,
  "check-coverage": false,
  "sourceMap": false,
  "instrument": false,
  "extension": [
    ".js",
    ".jsx"
  ],
  "include": [
    "packages/*/src"
  ],
  "require": [
    "@babel/register"
  ],
  "reporter": [
    "text",
    "lcov"
  ]
}
