{
  "all": false,
  "check-coverage": false,
  "sourceMap": false,
  "instrument": false,
  "extension": [
    ".js",
    ".jsx"
  ],
  "include": [
    "src/components/cell"
  ],
  "require": [
    "babel-core/register"
  ],
  "reporter": [
    "text",
    "lcov"
  ]
}
